*{
    background: #E6E6FA;
}
body{
    font-family: 'Inter';
    font-weight: 400;
    line-height: 150%;
    overflow: hidden;
}

.logo{
    margin: 40px;
    width: 10%;
    height: 10%;
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.codificador{
    box-sizing: border-box;
    width: 60%;
    padding-left: 12%;

}

.text-area{
    width: 80%;
    height: 60%;
    padding: 3%;
    color: #1D438A;
    border: none;
    font-size: 24px;
    text-transform: lowercase;
}

::placeholder{
    color:#1D438A;
}
    
.text-area:focus{
    outline: none;
}

.advertencia{
    height: 20%;
    color: #495057;
    font-size: 18px;
}

.botones{
    display: flex;
    gap: 5%;
    margin: 3%;
    width: 80%;
    height: 12%;
}

.btn-encriptar{
    padding: 2% 5%;
    width: 60%;
    height: 100%;
    color: white;
    font-size: 25px;
    cursor: pointer;
    background: #1D438A;
    border: 1px solid #1D438A;
    border-radius: 24px;
}

.btn-desencriptar{
    padding: 2% 5%;
    width: 60%;
    height: 100%;
    color: #1D438A;
    font-size: 25px;
    cursor: pointer;
    border: 1px solid #1D438A;
    border-radius: 24px;
    background:#E6E6FA;
}

.decodificador{
    box-sizing: border-box;
    width: 40%;
    padding-left: 5%;
    flex-direction: column;
    flex-wrap: wrap;
}

.mensaje{
    height: 120%;
    width: 70%;
    margin: -15% 0;
    padding: 2%;
    font-size: 24px;
    color: #1D438A;
    background: #FFFFFF;
    background-image: url("img/fondoMensaje.png");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 32px;
}

.mensaje:focus{
    outline: none;
}

.btn-copiar{
    width: 70%;
    margin-top: 15%;
    padding: 2% 5%;
    color: white;
    font-size: 25px;
    cursor: pointer;
    border: 1px solid #1D438A;
    background-color: #1D438A;
    border-radius: 24px;
}

footer{
    margin: 4% 40% 4% 20%;
    display: flex;
    flex-direction: row;
}
.github-logo{
    border-radius: 50%;
    margin-left: 100px;
    margin-top: -40px;
    padding: 40px;
    width: 50px;
    height: 50px;
    
}
.copyright{
    font-weight: 400;
    width: 100%;
    padding: 0 40px 40px 0;
    align-self: center;
}

@media screen and (max-width:840px){
    *{
        font-size: 20px;
        overflow: scroll;
    }

    .logo{
        width: 40%;
        margin: 5% 30%;
    }
    
    main{
        flex-direction: column;
    }

    .codificador, .decodificador{
        box-sizing: border-box;
        width: 80%;
        margin: 0 10%;
        padding: 0;
    }

    .text-area, .mensaje{
        align-items: center;
        width: 80%;
        margin-top: 5%;
        padding: 5%;
    }

    .advertencia{
        width: 80%;
        margin: 5% 5% 0 5%;
        font-size: 15px;
        line-height: 120%;
    }
    
    .botones{
        flex-direction: column;
        gap: 8%;
        margin: 0 5%;
        width: 90%;
        height: 20%;
    }

    .btn-encriptar, .btn-desencriptar{
        font-size: 18px;
        width: 100%;
        height: 100%;
        padding: 4%;
        margin-top: 4%;
    }

    .btn-copiar{
        margin-top: 15%;
        font-size: 18px;
        padding: 5% 25%;
        text-align: center;
    }

    footer{
        margin: 0 10%;
    }

    .github-logo, .copyright{
        padding: 20px;
        margin: 0;
        width: 50%;
    }
    
}